body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, tr, input {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}